<div class="supplier-form-page">
    <p class="message" *ngIf="message">{{message}}</p>
    <h1>{{ isEditing ? " Edit Supplier" : "Add Supplier" }}</h1>
    <form (ngSubmit) = "handleSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" [(ngModel)]="formDate.name" name="name" placeholder="Ente Supplier Name"/>
            <label for="address">Name</label>
            <input type="text" [(ngModel)]="formDate.address" name="address" placeholder="Enter Supplier address"/>
            <label for="contactInfo">contact Info</label>
            <input type="text" [(ngModel)]="formDate.contactInfo" name="contactInfo" placeholder="Enter Supplier contactInfo"/>
        </div>   
        <button type="submit">{{isEditing? "Update Supplier" : "Add Supplier"}}</button>
        
    </form>
</div>